{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>index</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'indexApp/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'indexApp/styles.css' %}" />
</head>

<body>
    <div class="jumbotron col-lg-10 offset-lg-1 col-sm-10 offset-sm-1 see-through center-div">
        <h1>Abort mission boys, she taken!</h1>
        <img src="https://vignette.wikia.nocookie.net/spongebob/images/6/6a/Squilliam_Returns_048a.png/revision/latest?cb=20141221100926" alt="some spongebob meme" class="dank-meme">
    </div>
</body>

</html>
