{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'bucketList/favicon-16x16.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'bucketList/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'bucketList/favicon-96x96.png' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'bucketList/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'bucketList/styles.css' %}" />
  <style >
    body {
      background-image: url('{% static 'bucketList/images' %}/{% block bg %}{% endblock %}');
    }
  </style>
</head>

<body>
  {% include "bucketList/navbar.html" %}
  {% block content %}
  {% endblock %}
</body>

</html>
