{% extends 'base_layout.html' %}

{% load static %}

{% block title %}Working On It{% endblock %}

{% block content %}

<div class="gradient">
  <div class="">
    <img src="{% static 'bucketList/images' %}/working_on_it_processed.gif" alt="dev img" class="working_on_it_img">
    <h3 class="working_on_it_img_text">Laisse moi tranquille je travaille là dessus! 😠</h3>
  </div>
</div>

{% endblock %}
