{% extends 'base_layout.html' %}

{% block bg %}{{bg}}{% endblock %}

{% block title %}Bucket List - Catégories{% endblock %}

{% block content %}

<script>
function showDiv(id) {
  var elem = document.getElementById(id);
  if (elem.style.display == "none") {
    document.getElementById(id).style.display = "block";
  } else {
    document.getElementById(id).style.display = "none";
  }
  document.getElementById('old_category_name').value = id;
}
</script>

  <div class="jumbotron col-lg-10 offset-lg-1 see-through main-div">
    <form class="form-inline my-2 mb-2" action="{% url 'bucketList:rename_category' %}" method="post">
      {% csrf_token %}
      <input class="form-control mr-sm-2 border-warning" type="text" placeholder="Vieux nom" name="old_category_name" id="old_category_name" autocomplete="off" required>
      <button class="btn btn-secondary my-2 mr-sm-2 my-sm-0" type="submit"><span class="glyphicon glyphicon-arrow-right"></span></button>
      <input class="form-control mr-sm-2 border-warning" type="text" placeholder="Nouveau nom" name="new_category_name" id="new_category_name" autocomplete="off" required>
    </form>
    {% if ordered_items %}
      {% for category in ordered_items %}
        <div class="card border-info mb-3">
          <div class="card-header">
            <a class="text-info category-card-title" onclick="showDiv('{{category.category}}')">{{category.category}}</a>

            <a href="{% url 'bucketList:random_item' category=category.category %}" class="btn btn-outline-info float-right">Random</a>

          </div>
          <div class="card-body" id="{{category.category}}" style="display:none;">
            <ul>
              {% for item in category.items %}
                <li><a class="text-info" href="/bucketList/item/{{item.pk}}">{{item.name}}{% if item.is_done is True %}<span style="color: #5cb85c; margin-left:5px;" class="glyphicon glyphicon-ok-sign"></span>{% else %}<span style="color: #d9534f; margin-left:5px;" class="glyphicon glyphicon-remove-sign"></span>{% endif %}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>

{% endblock %}
