{% extends 'base_layout.html' %}

{% block bg %}{{bg}}{% endblock %}

{% block title %}Bucket List - Accueil{% endblock %}

{% block content %}

<div class="jumbotron col-lg-10 offset-lg-1 see-through main-div">
  {% if ordered_items %}
    {% for category in ordered_items %}
      <div class="card border-info mb-3">
        <div class="card-header">{{category.category}}</div>
        <div class="card-body">
          <ul>
            {% for item in category.items %}
              <li><a class="text-info" href="/bucketList/item/{{item.pk}}">{{item.name}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  {% if last_modified_sam %}
  <div class="card border-info mb-3">
    <div class="card-header">Dernières modification (Sam)</div>
    <div class="card-body">
      <ul>
        {% for item in last_modified_sam %}
          <li><a class="text-info" href="/bucketList/item/{{item.pk}}">{{item.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  {% if last_modified_mag %}
  <div class="card border-info mb-3">
    <div class="card-header">Dernières modification (Marc)</div>
    <div class="card-body">
      <ul>
        {% for item in last_modified_mag %}
          <li><a class="text-info" href="/bucketList/item/{{item.pk}}">{{item.name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}
