{% extends 'base_layout.html' %}

{% block bg %}{{bg}}{% endblock %}

{% block title %}Bucket List - Bientôt{% endblock %}

{% block content %}

<div class="jumbotron col-lg-10 offset-lg-1 see-through main-div">

  <div class="card border-info mb-3">
    <div class="card-header">Événement à venir</div>
    <div class="card-body">
      <ul>
        {% for item in search_result %}
          <li><a class="text-info" href="/bucketList/item/{{item.pk}}">{{item.name}} ({{item.time_window_start}} - {{item.time_window_end}})</a></li>
        {% empty %}
          <li>Aucun événements sont à venir</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
