{% extends 'base_layout.html' %}

{% block bg %}{{bg}}{% endblock %}

{% block title %}Bucket List - {% if new is True %}Nouveau{% else %}Modification{% endif %}{% endblock %}

{% block content %}

<script>
function fillCategoryInForm(category) {
  var elem = document.getElementById('id_category');
  elem.value = category;
}

</script>

<div class="jumbotron col-lg-10 offset-lg-1 see-through main-div card border-primary new-item-form">
  <h1 class="col-lg-12 new-title">{% if new is True %}Nouvelle {% else %}Modification d'{% endif %}idée</h1>
  <div class="row">

    <div class="form-group col-lg-6 offset-lg-3">
      <form method="POST" class="custom-form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary form-button">Sauvegarder</button>
      </form>
    </div>

    {% if categories %}
    <div class="col-lg-3">
      <h5>Catégories:</h3>
      <ul>
        {% for cat in categories %}
          <li class="category-clickable" onclick="fillCategoryInForm('{{cat}}')">{{cat}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  </div>
</div>

{% endblock %}
