{% extends 'base_layout.html' %}

{% block bg %}{{bg}}{% endblock %}

{% block title %}Bucket List - Détails{% endblock %}

{% block content %}

<div class="jumbotron see-through card border-primary col-lg-10 center-div">
  {% if random is True %}<a href="." style="margin-top: 20px; margin-right: 20px; position: absolute; top: 0px; right: 0px;" class="btn btn-outline-info">Random</a>{% endif %}
  {% if item %}
    <h3 style="margin-bottom: 30px;">{{item.name}}</h4>
    <h5>Catégorie: {{item.category}}</h5>
    <h5>Date de création: {{item.created_date_time}}</h5>
    <h5>Date de modification: {{item.modified_date_time}}</h5>
    <h5>Déjà fait: {% if item.is_done is True %}<span style="color: #5cb85c;" class="glyphicon glyphicon-ok-sign"></span>{% else %}<span style="color: #d9534f" class="glyphicon glyphicon-remove-sign"></span>{% endif %}</h5>
    <h5 {% if now >= start and now <= end %}style="color: #5cb85c;"{% endif %}>Début de l'événement: {% if not item.time_window_start %}<span class="glyphicon glyphicon-remove-sign"></span>{% else %}{{item.time_window_start}}{% endif %}</h5>
    <h5 {% if now >= start and now <= end %}style="color: #5cb85c;"{% endif %}>Fin de l'événement: {% if not item.time_window_end %}<span class="glyphicon glyphicon-remove-sign"></span>{% else %}{{item.time_window_end}}{% endif %}</h5>
    <h5>Créateur: {{item.get_creator_display}}</h5>
    <div class="row">
      <a href="{% url 'bucketList:item_edit' pk=item.pk %}" style="margin-top: 30px; width: 200px; margin-right: 10px; display: inline-block;" class="btn btn-outline-warning">Éditer</a>
      <a href="{% url 'bucketList:item_delete' pk=item.pk %}" style="margin-top: 30px; margin-left: 10px; width: 200px; display: inline-block;" class="btn btn-outline-danger">Supprimer</a>
    </div>
  {% endif %}
</div>

{% endblock %}
