{% extends 'base_layout.html' %}

{% block bg %}{{bg}}{% endblock %}

{% block title %}Bucket List - Derniers changements{% endblock %}

{% block content %}

<script type="text/javascript">
function showDiv(id) {
  var elem = document.getElementById(id);
  if (elem.style.display == "none") {
    document.getElementById(id).style.display = "block";
  } else {
    document.getElementById(id).style.display = "none";
  }
}
</script>

  <div class="jumbotron col-lg-10 offset-lg-1 see-through main-div">
    <div class="card border-info mb-3">
      <div class="card-header">Dernières modification (Sam)</div>
      <div class="card-body">
        <ul>
          {% for activity in last_modified_sam %}
            <li><a class="text-info" href="/tripIdeas/activity/{{activity.pk}}">{{activity.name}}</a></li>
            {% empty %}
              <li>Aucune dernières modifications</li>
            {% endfor %}
        </ul>
      </div>
    </div>

    <div class="card border-info mb-3">
      <div class="card-header">Dernières modification (Marc)</div>
      <div class="card-body">
        <ul>
          {% for activity in last_modified_mag %}
            <li><a class="text-info" href="/tripIdeas/activity/{{activity.pk}}">{{activity.name}}</a></li>
          {% empty %}
            <li>Aucune dernières modifications</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  </div>

{% endblock %}
