<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="dropdown">
    <a class="dropbtn navbar-brand no-margin-right small-padding-sides" href="{% url 'bucketList:index' %}">BucketList</button>
      <div class="dropdown-content">
        <a class="navbar-brand no-margin-right" href="{% url 'tripIdeas:index' %}">Trip Ideas</a>
      </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="dropdown">
        <a class="dropbtn nav-link">Idées <span class="glyphicon glyphicon-collapse-down"></span></button>
        <div class="dropdown-content">
          <a class="nav-link" href="{% url 'bucketList:categories' %}">Catégories</a>
          <a class="nav-link" href="{% url 'bucketList:last_changes' %}">Derniers ajouts/modifications</a>
          <a class="nav-link" href="{% url 'bucketList:item_to_come' %}">À venir</a>
          <a class="nav-link add-dropdown-item" href="{% url 'bucketList:new_item' %}">Nouveau</a>
        </div>
      </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'bucketList:search_item' %}" method="post">
      {% csrf_token %}
      <input class="form-control mr-sm-1" type="text" placeholder="Search" name="search_value" id="search_value" autocomplete="off">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit"><span class="glyphicon glyphicon-search"></span></button>
    </form>
  </div>
</nav>
