{% extends 'tripIdeas/base_layout.html' %}

{% block bg %}{{bg}}{% endblock %}

{% block title %}Trip Ideas - {% if new is True %}Nouvelle {% else %}Modification d'{% endif %}activité{% endblock %}

{% block content %}

<div class="jumbotron col-lg-10 offset-lg-1 see-through main-div card border-primary new-item-form">
  <h1 class="col-lg-12 new-title">{% if new is True %}Nouvelle {% else %}Modification d'{% endif %}idée</h1>
  <div class="row">

    <div class="form-group col-lg-6 offset-lg-3">
      <form method="POST" class="custom-form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary form-button">Sauvegarder</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
