{% extends 'tripIdeas/base_layout.html' %}

{% block bg %}{{bg}}{% endblock %}

{% block title %}Trip Ideas - Détails activité{% endblock %}

{% block content %}

{% load static %}

<script type="text/javascript" defer>
  var slideIndex = 1;

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {
      slideIndex = 1
    }
    if (n < 1) {
      slideIndex = slides.length
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
  }

  function showDiv(id) {
    var elem = document.getElementById(id);
    if (elem.style.display == "none") {
      document.getElementById(id).style.display = "block";
    } else {
      document.getElementById(id).style.display = "none";
    }
  }

  function getFirstURLs(queryStr) {
    return new Promise(resolve => {
      GoogleImageSearch.searchImage(queryStr).then((res) => {
        resolve(res.splice(0, 3));
      });
    });
  }

  async function loadImages() {
    var queryStr = document.getElementById('queryStr').innerText;
    var slides = document.getElementsByClassName("mySlides");
    var urls = await getFirstURLs(queryStr);
    for (var i = 0; i < slides.length; i++) {
      slides[i].children[1].src = urls[i];
    }
  }

  function AfterLoad() {
    //loadImages();
    showSlides(slideIndex);
  }

  window.onload = AfterLoad;
</script>

<div class="jumbotron see-through card border-primary col-lg-10 trip_center_div">
  {% if activity %}
    <span style="display: none;" id="queryStr">{{activity.title}}</span>
    <h3 style="margin-bottom: 30px;">{{activity.title}}</h4>
    <h5>Description:</h5><p>{{activity.description}}</p>
    <h5>Lien: <a href="{{activity.link}}" target="_blank" rel="noopener noreferrer">{{activity.link}}</a></h5>
    <h5>Pays: {{activity.country.name}}<img class="flag-icon" src="{{activity.country.flag}}"/></h5>
    <h5>Date de création: {{activity.created_date_time}}</h5>
    <h5>Date de modification: {{activity.modified_date_time}}</h5>
    <h5>Créateur: {{activity.get_creator_display}}</h5>
    <h5>Saison: {{activity.get_season_display}}</h5>
    <div style="margin-top: 30px;">
      <a href="{% url 'tripIdeas:activity_edit' pk=activity.pk %}" style="width: 200px; margin-right: 10px; display: inline-block;" class="btn btn-outline-warning">Éditer</a>
      <a href="{% url 'tripIdeas:activity_delete' pk=activity.pk %}" style="margin-left: 10px; width: 200px; display: inline-block;" class="btn btn-outline-danger">Supprimer</a>
    </div>
    <div class="card border-info mb-3 image-slider-main-div">
      <div class="card-header">
        <a class="text-info category-card-title" onclick="showDiv('images-slider')">Images</a>
      </div>
      <div class="card-body" id="images-slider" style="display:none;">

        <div class="slideshow-container">
          {% for img_url in urls %}
            <div class="mySlides" {% if forloop.counter0 != 0 %}style="display:None"{% endif %}>
              <div class="numbertext">{{ forloop.counter }} / {{urls|length}}</div>
              <img src="{{img_url}}" style="width:100%; height: 100%;">
            </div>
          {% endfor %}
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
          <span class="dot" onclick="currentSlide(4)"></span>
          <span class="dot" onclick="currentSlide(5)"></span>
        </div>
      </div>
    </div>
  {% else %}
    <h3>Aucune activité à afficher.</h3>
  {% endif %}
</div>

{% endblock %}
