{% extends 'tripIdeas/base_layout.html' %}

{% block bg %}{{bg}}{% endblock %}

{% block title %}Trip Ideas - Toute les activités{% endblock %}

{% block content %}

  <div class="jumbotron col-lg-10 offset-lg-1 see-through main-div">
    {% if activities %}
    <ul>
      {% for activity in activities %}
        <li><a class="text-info" href="/tripIdeas/activity/{{activity.pk}}">{{activity.title}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

{% endblock %}
