{% extends 'tripIdeas/base_layout.html' %}

{% block bg %}{{bg}}{% endblock %}

{% block title %}Trip Ideas - Par pays{% endblock %}

{% block content %}

<script>
function showDiv(id) {
  var elem = document.getElementById(id);
  if (elem.style.display == "none") {
    document.getElementById(id).style.display = "block";
  } else {
    document.getElementById(id).style.display = "none";
  }
}
</script>

  <div class="jumbotron col-lg-10 offset-lg-1 see-through main-div">
    {% if ordered_activities %}
      {% for filter in ordered_activities %}
        <div class="card border-info mb-3">
          <div class="card-header">
            <a class="text-info category-card-title" onclick="showDiv('{{filter.filter}}')">{{filter.filter}}</a>
          </div>
          <div class="card-body" id="{{filter.filter}}" style="display:none;">
            <ul>
              {% for activity in filter.activities %}
                <li><a class="text-info" href="/tripIdeas/activity/{{activity.pk}}">{{activity.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>

{% endblock %}
