{% extends 'tripIdeas/base_layout.html' %}

{% block bg %}{{bg}}{% endblock %}

{% block title %}Trip Ideas - Accueil{% endblock %}

{% block content %}

<div class="jumbotron col-lg-10 offset-lg-1 see-through main-div">
  {% if ordered_activities %}
    {% for country in ordered_activities %}
      <div class="card border-info mb-3">
        <div class="card-header">{{country.country}}</div>
        <div class="card-body">
          <ul>
            {% for activity in country.activities %}
              <li><a class="text-info" href="/tripIdeas/activity/{{activity.pk}}">{{activity.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>

{% endblock %}
