{% extends 'tripIdeas/base_layout.html' %}

{% block bg %}{{bg}}{% endblock %}

{% block title %}Trip Ideas - Dernière modifications{% endblock %}

{% block content %}
<script>
function showDiv(id) {
  var elem = document.getElementById(id);
  if (elem.style.display == "none") {
    document.getElementById(id).style.display = "block";
  } else {
    document.getElementById(id).style.display = "none";
  }

}
</script>

  <div class="jumbotron col-lg-10 offset-lg-1 see-through main-div">
    {% if creator_list %}
      {% for creator, activity_list in creator_list.items %}
      <div class="card border-info mb-3">
        <div class="card-header">
          <a class="text-info category-card-title" onclick="showDiv('{{creator}}')">{{creator}} ({{activity_list|length}})</a>
        </div>
        <div class="card-body" id="{{creator}}" style="display:none;">
          <ul>
            {% for activity in activity_list %}
              <li><a class="text-info" href="/tripIdeas/activity/{{activity.pk}}">{{activity.title}}</a></li>
            {% empty %}
              <li>Pas d'activité par {{creator}}.</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% empty %}
      <p>Aucune idées de créer</p>
      {% endfor %}
    {% endif %}
  </div>

{% endblock %}
