<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse more-left-margin" id="navbarColor02">
    <div class="dropdown">
      <a class="dropbtn navbar-brand no-margin-right small-padding-sides" href="{% url 'tripIdeas:index' %}">Trip Ideas</button>
        <div class="dropdown-content">
          <a class="navbar-brand no-margin-right" href="{% url 'bucketList:index' %}">BucketList</a>
        </div>
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <div class="dropdown">
        <a class="dropbtn nav-link">Activité <span class="glyphicon glyphicon-collapse-down"></span></button>
        <div class="dropdown-content">
          <a class="nav-link" href="{% url 'tripIdeas:by_country' %}">Par pays</a>
          <a class="nav-link" href="{% url 'tripIdeas:by_season' %}">Par Saison</a>
          <a class="nav-link" href="{% url 'tripIdeas:last_changes' %}">Derniers ajouts/modifications</a>
          <a class="nav-link add-dropdown-item" href="{% url 'tripIdeas:new_activity' %}">Nouveau</a>
        </div>
      </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
        <a class="dropbtn nav-link">Voyages <span class="glyphicon glyphicon-collapse-down"></span></button>
        <div class="dropdown-content">
          <a class="nav-link" href="{% url 'tripIdeas:all_trips' %}">Toutes les voyages</a>
          <a class="nav-link" href="{% url 'tripIdeas:last_changes_trip' %}">Derniers ajouts/modifications</a>
          <a class="nav-link add-dropdown-item" href="{% url 'tripIdeas:new_trip' %}">Nouveau</a>
        </div>
      </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
        <a class="dropbtn nav-link">APIs <span class="glyphicon glyphicon-collapse-down"></span></button>
        <div class="dropdown-content">
          <a class="nav-link" href="{% url 'tripIdeas:working_on_it' %}">Price/Cost API (!)</a>
          <a class="nav-link" href="{% url 'tripIdeas:working_on_it' %}">Sleep API (!)</a>
          <a class="nav-link" href="{% url 'tripIdeas:working_on_it' %}">Localisation API (!)</a>
        </div>
      </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'tripIdeas:search_item' %}" method="post">
      {% csrf_token %}
      <input class="form-control mr-sm-1" type="text" placeholder="Search" name="search_value" id="search_value" autocomplete="off">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit"><span class="glyphicon glyphicon-search"></span></button>
    </form>
  </div>
</nav>
