{% extends 'tripIdeas/base_layout.html' %}

{% block bg %}{{bg}}{% endblock %}

{% block title %}Trip Ideas - Résultat de recherche{% endblock %}

{% block content %}

<script>
function showDiv(id) {
  var elem = document.getElementById(id);
  if (elem.style.display == "none") {
    document.getElementById(id).style.display = "block";
  } else {
    document.getElementById(id).style.display = "none";
  }
}
</script>

  <div class="jumbotron col-lg-10 offset-lg-1 see-through main-div">
    {% if search_result %}
      <div class="card border-info mb-3">
        <div class="card-header">
          <a class="text-info category-card-title" onclick="showDiv('activities')">Activité ({{search_result.activities|length}})</a>
        </div>
        <div class="card-body" id="activities" style="display:none;">
          <ul>
            {% for activity in search_result.activities %}
              <li><a class="text-info" href="/tripIdeas/activity/{{activity.pk}}">{{activity.title}}</a></li>
            {% empty %}
              <li>Aucune activités pour cette recherche.</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="card border-info mb-3">
        <div class="card-header">
          <a class="text-info category-card-title" onclick="showDiv('trips')">Voyages ({{search_result.trips|length}})</a>
        </div>
        <div class="card-body" id="trips" style="display:none;">
          <ul>
            {% for trip in search_result.trips %}
              <li><a class="text-info" href="/tripIdeas/trip/{{trip.pk}}">{{trip.title}}</a></li>
            {% empty %}
              <li>Aucun voyages pour cette recherche.</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  </div>

{% endblock %}
