{% extends 'tripIdeas/base_layout.html' %}

{% block bg %}{{bg}}{% endblock %}

{% block title %}Trip Ideas - Liste voyages{% endblock %}

{% block content %}

<script>
function showDiv(id) {
  var elem = document.getElementById(id);
  if (elem.style.display == "none") {
    document.getElementById(id).style.display = "block";
  } else {
    document.getElementById(id).style.display = "none";
  }
}
</script>

  <div class="jumbotron col-lg-10 offset-lg-1 see-through main-div">
    {% if creator_list %}
      {% for creator, trip_list in creator_list.items %}
      <div class="card border-info mb-3">
        <div class="card-header">
          <a class="text-info category-card-title" onclick="showDiv('{{creator}}')">{{creator}} ({{trip_list|length}})</a>
        </div>
        <div class="card-body" id="{{creator}}" style="display:none;">
          <ul>
            {% for trip in trip_list %}
              <li><a class="text-info" href="/tripIdeas/trip/{{trip.pk}}">{{trip.title}}</a></li>
            {% empty %}
              <li>Pas de voyage par {{creator}}.</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    {% endif %}
  </div>

{% endblock %}
