{% extends 'tripIdeas/base_layout.html' %}

{% block bg %}{{bg}}{% endblock %}

{% block title %}Trip Ideas - Détails voyage{% endblock %}

{% block content %}

<script src="/admin/jsi18n"></script>

<div class="jumbotron see-through card border-primary col-lg-10 trip_center_div">
  {% if trip %}
    <h2 style="margin-bottom: 30px; text-decoration: underline;">{{trip.title}}</h2>
    <h5>Description:</h5><p>{{trip.description}}</p>

    <div class="form-group">
      <div class="card border-primary">
        <h5>Pays:</h5>
        <ul class="country-list">
          {% for country in trip.country_list %}
            <li>{{country.name}}<img class="flag-icon" src="{{country.flag}}"/></li>
          {% empty %}
            <li>Aucun(e) pays/activité</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <h5>Date de création: {{trip.created_date_time}}</h5>
    <h5>Date de modification: {{trip.modified_date_time}}</h5>
    <h5>Créateur: {{trip.get_creator_display}}</h5>
    <div class="row">
      <a href="{% url 'tripIdeas:trip_edit' pk=trip.pk %}" style="margin-top: 30px; width: 200px; margin-right: 10px; display: inline-block;" class="btn btn-outline-warning">Éditer</a>
      <a href="{% url 'tripIdeas:trip_delete' pk=trip.pk %}"" style="margin-top: 30px; margin-left: 10px; width: 200px; display: inline-block;" class="btn btn-outline-danger">Supprimer</a>
    </div>
  {% endif %}
</div>

{% endblock %}
