{% extends 'tripIdeas/base_layout.html' %}

{% block bg %}{{bg}}{% endblock %}

{% block title %}Trip Ideas - {% if new is True %}Nouveau {% else %}Modification de {% endif %}voyage{% endblock %}

{% block content %}

{% load static %}

<div class="jumbotron col-lg-10 offset-lg-1 see-through main-div card border-primary new-item-form">
  <h1 class="col-lg-12 new-title">{% if new is True %}Nouveau {% else %}Modification de {% endif %}voyage</h1>
  <div class="row">

    <div class="form-group col-lg-6 offset-lg-3">
      <form method="POST" class="custom-form">
          {% csrf_token %}
          {{ form.as_p }}
          <select multiple="multiple" id="my-select" name="activities_pks" style="margin-left:auto; margin-right:auto;">
            {% if new %}
              {% for a in activities %}
                <option value='{{a.pk}}'>{{a.title}}</option>
              {% endfor %}
            {% else %}
              {% for a in activities %}
                <option value='{{a.0.pk}}' {% if a.1 %}selected{% endif %}>{{a.0.title}}</option>
              {% endfor %}
            {% endif %}
          </select>

          <button type="submit" class="btn btn-primary form-button">Sauvegarder</button>
          <script src="{% static "bucketList/scripts/jquery.multi-select.js" %}" type="text/javascript"></script>
          <script src="{% static "bucketList/scripts/jquery.quicksearch.js" %}" type="text/javascript"></script>
          <script src="{% static "bucketList/scripts/multi-select-script.js" %}" type="text/javascript"></script>
      </form>
    </div>
  </div>
</div>

{% endblock %}
